# Ignore all files in data directory
data/**
results_comparison/**
results_video/**
checkpoints/**
outputs/**
checkpoint_test

# But keep these directories (via .gitkeep files)
!data/
!data/test/
!data/train/
!data/val/
!data/test/.gitkeep
!data/train/.gitkeep
!data/val/.gitkeep

# Keep these empty directories
!results_comparison/
!results_comparison/.gitkeep
!results_video/
!results_video/.gitkeep
!results_video/orig_frames/
!results_video/orig_frames/.gitkeep
!results_video/pred_frames/
!results_video/pred_frames/.gitkeep
!checkpoints/
!checkpoints/.gitkeep
!outputs/
!outputs/.gitkeep

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
*.png
*.mp4